# Python
__pycache__/
*.py[cod]
*$py.class
venv/
*.egg-info/

# dbt
dbt_project/logs/
dbt_project/target/
dbt_project/.user.yml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log
